.navigation-bar {
    height: 50px;;
}

.mainbody {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    height: 100%;
    text-align: center;
}

header {
    margin: 0;
    padding: 0;
}

.bannerImage {
    margin: 0;
    padding: 0;
    width: 100%;
}
.navigation-bar {
    margin: 0;
    padding: 0;
}
.menuitem {
    margin:0;
    color:white;
}
#navlink {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    list-style-type: none;

}

#nobullets {
    list-style-type: none;
    /* Remove bullets */
}

#navlink li {
    line-height: 20px;
    font-size: 18px;
    width: 10%;
    background: #2916cf;
    margin: 2px;
    text-align: center;
    z-index: 4;
    float: left;
    text-align: center;
    text-decoration: none;  
    color:white;  
}

#navlink li:hover {
    background: #111111;
    cursor:pointer;
}

#navlink li a {
    width: 150PX;
}