#registrationFormWrapper {
    margin:auto;
}
.formlabel{
    color:yellow;
    margin:5px 0;
    margin-bottom: 0;
}
.registrationFormWrapper {
    grid-column-start:2;
    grid-column-end:3;
    justify-content: center;
}
.formwrapper {
    grid-column-start:2;
    grid-column-end:3;
    justify-content: center;
    display:flex;
}
.formBut {
    margin:15px 0;
    width:100%;
    height:25%;
    background:gold;
}