.portfolioMenuItemWrapper {
    display: inline;
    height: 5%;
    width: 15%;
    text-align: left;
}

#portfolioButtonBox {
    width: 25%;
    height: 100%;
    border: 1px solid red;
}

.portfolioMenuItemWrapper button {
    padding: 0;
    margin: 0;
}

#box {
    border: 1px solid red;
    width: 15%;
}

.portfolioDisplayWrapper {
    width: 100%;
    margin: 2% auto;
    border: 5px solid purple;
    border-radius: 15px;
    grid-column-start: 2;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    filter: drop-shadow(0 0 0.75rem crimson);
}

.portfolioMenu {
    text-align: center;

}

.portfolioItems {
    text-align: center;
}

#eachRowInPortfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#eachRowInPortfolio2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#eachRowInPortfolio2 .portfoliosubs {
    border-top: 1px solid black;
}

#tableHeading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: blueviolet;
    color: white;
}

.portfolioDisplayBody {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#eachRowInPortfolio:hover {
    cursor: pointer;

    color: white;
}

.portfolioItems a {
    font-size: 26px;
}

.right-side-portfolio-panel {
    text-align: left;
    ;
}

.right-side-portfolio-panel button {
    height: 20px;
    width: 50%;
    font-size: 12px;
    line-height: 0px;
    margin: 0 2px;
    text-align: center;
    background-color: #aecad6;
    background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%);
}

.right-side-portfolio-panel button:hover {
    background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 100%);
}

#portfolioTextHeading {
    color: gold;
}


.bottomrowportfolioDisplay {
    width: 100%;
}

.controlPanel {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#dialog {
    width: 40%;
}

.left_hand_portfolio_panel_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50%;
}

.left_hand_button_panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 0;
}

.red {
    background: red;
}

.green {
    background: green;
    animation: shake 0.5s;
    animation-iteration-count: 50s;
}

.black {
    background: grey;
}

.username {
    color: Orange;
    font-size: 36px;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.buyform {
    border: 1px red solid;
    padding: 5px;
    width: 100%;
    margin: 10% auto;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: #6a93cb;
    box-shadow: #aecad6;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.buybutDisabled {
    grid-column-start: 1;
    grid-column-end: 5;
    background: red;
    color: white;
}

.buybutEnabled {
    grid-column-start: 1;
    grid-column-end: 5;
    background: green;
    color: white;
}

.buybutEnabled:hover {
    cursor: pointer;
}

#calculatedAmount {
    border: 2px solid green;
    text-align: center;
    margin: auto;
    filter: drop-shadow(0 0 0.75rem crimson);
}

#videowrapper {

    z-index: -5;
    text-align: center;
    display: flex;

    justify-content: center;
    position: relative;
}

#myVideo {
    position: absolute;
    right: 0;
    max-height: 50px;
    min-width: 100%;
    min-height: 80%;

}