body {
    background-image: linear-gradient(to right, cyan , yellow);
    margin: 0;
}

.homecontent {
    text-align: center;
}
h2 {
    font-size:26px;
}
span {
    color:red;
    font-size:36px;
}

.registrationFormWrapper {
    margin: auto;
    width: 15%;
}