<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Crypto {% block title %} Home {% endblock %}</title>
    <script>
        function DoPost() {
            console.log("am in the function")
            window.location.href = "/?status=" + "logout";
        }
    </script>
</head>

<body>
    <header class="header">
        <nav class="navigation-bar">
            <img src="static/12-01.png" class="bannerImage" alt="Girl in a jacket" width="2048px" height="60px">
            <ul id="navlink">
                <li><a href="/">Home</a></li>
                {% if SESSION_STATUS != 'logged in' %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% else %}
                <li><a href="javascript:DoPost()">Logout</a></li>
            </ul>
            {% endif %}
            </ul>
        </nav>

    </header>
    <content>
        <div class="mainbody">
            {%block content %}
            {% endblock content %}
        </div>
    </content>

</body>

</html>