<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/baseNavigationStyle.css">   
    <link rel="stylesheet" href="static/portfolioDisplayStyle.css">   
    <link rel="stylesheet" href="static/loginstyle.css">   
    <link rel="stylesheet" href="static/form.css">  
    
    <title>Crypto {% block title %} Home {% endblock %}</title>
    <script>
        function DoPost() {
            console.log("am in the function")
            window.location.href = "/?status=" + "logout";
        }
    </script>
</head>

<body>
    <header class="header">
        <nav class="navigation-bar">
            <img src="static/12-01.png" class="bannerImage" alt="Girl in a jacket" width="2048px" height="60px">
            <ul id="navlink">
                <li><a href="/">Home</a></li>
                {% if session['nick_name'] %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>                
            </ul>
            {% endif %}
            </ul>
        </nav>

    </header>
    



            {%block content %}
            {% endblock content %}


</body>

</html>