{% extends 'base.html' %}


<title>{% block title %} Home {% endblock %}</title>

{% block content %}

{% if user != '' %}
{% if session['userid'] %}
<content class="pagedesign">

    <div class="left_hand_portfolio_panel_wrapper">
        <div class="left_hand_button_panel">
            <button>New Portfolio</button>
            <button>Delete portfolio</button>
            <button>Change name</button>
        </div>
        <form action="/buy" class="buyform" onkeydown="return event.key != 'Enter';">
            <label for="coin">Crypto:</label>
            <select id="coin" name="coin">
                {% for each in currentpricelist %}
                <option value="{{each}},{{currentpricelist[each]}}">{{each}} {{currentpricelist[each]}}</option>
                {% endfor %}
            </select>
        
            <label for="qtyinput">QTY</label>
            <input input type="float" min="0" id="qtyinput" name="qty">  
            <div></div>
            <div></div>
            <div></div>
            <button type="button" onclick="maxbuy()">max</button>
            <div></div>
            <div></div>
            <label for="qtyinput">Amount</label>
            <div>
            <p id="calculatedAmount">the amount</p>
            </div>
            <input id="buybut" class="buybutDisabled" type="submit" value="BUY" disabled>                      
        </form>
    </div>
    <div class="mainbody" style="grid-column-start: 2;">
        <h2>Welcome <span class="username" >{{session['nick_name']}}</span></h2>

        {% if session['portfolios'] %}
        <div id="Portfolio_Menu">
        </div>
        <!-- TODO -->
        <!-- Display the first portfolio: Demonstration purposes  -->
        {% if session['showportfolio'] > 0 %}
        <a id="portfolioTextHeading">Remaining Balance
            <p id="currentBalance">{{"%.2f"|format(session['portfolios'][session['showportfolio']-1][4])}}</p></a>
        <div class="portfolioDisplayBody">
            {% if portfoliodetail %}
            <div class="portfolioDisplayWrapper">
                <div id="tableHeading">
                    <a>Coin</a><a>Price</a><a>Quantity</a><a>Total Cost</a><a>Holdings value</a>
                </div>
                {% for each in portfoliodetail %}
                <div id="eachRowInPortfolio" href="#">
                    <a>{{each[2]}}</a><a>${{each[3]}}</a><a>{{"%.2f"|format(each[4])}}</a><a>${{"%.2f"|format(totalcosts[loop.index-1])}}</a>
                    {% if response[loop.index-1] > totalcosts[loop.index-1] %}
                        <a class="green">
                    {% elif response[loop.index-1] < totalcosts[loop.index-1]%}
                        <a class="red">
                    {% else %}
                        <a class="black">
                    {% endif %}
                    {{"$%.2f"|format(response[loop.index-1])}}</a>
                </div>
                {% endfor %}
                <div id="eachRowInPortfolio2">
                    <a></a><a></a><a></a><a class="portfoliosubs">${{"%.2f"|format(totalcosts[totalcosts|length - 1])}}</a><a
                        class="portfoliosubs">{{"$%.2f"|format(response[response|length - 1])}}</a>
                </div>
            </div>
            <div class="right-side-portfolio-panel">
                <br>
                <br>

                {% for each in portfoliodetail %}
                <button class="right-side-portfolio-panel button" id="{{each[0]}}" name="{{response[loop.index-1]}}"
                    onclick="sell(this.id,this.name)">sell</button><br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <h1> TRANSACTION HISTORY </h1>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</content>
<script type="text/javascript" src="static/homescript.js"></script>
{% endblock %}