{% extends 'base.html' %}
<title>{% block title %} Home {% endblock %}</title>
{% block content %}
<link rel="stylesheet" href="static/form.css">

{% if user != '' %}
{% if session['userid'] %}
<div id="videowrapper">
    <video playsinline autoplay muted loop id="myVideo">
        <!-- https://dribbble.com/shots/16975390-NDAX-Coin-scene -->
        <source src="static/NDAX_Dribbble_coins_2.mp4" type="video/mp4">
    </video>
</div>
<content class="pagedesign">

    <div class="left_hand_portfolio_panel_wrapper">
        <div class="left_hand_button_panel">
            <button style="visibility: hidden">New Portfolio</button>
            <button style="visibility: hidden">Delete portfolio</button>
            <button style="visibility: hidden">Change name</button>
        </div>
        <form action="/buy" class="buyform" onkeydown="return event.key != 'Enter';">
            <label for="coin">Crypto:</label>
            <select id="coin" name="coin">
                {% for each in currentpricelist %}
                <option value="{{each}},{{currentpricelist[each]}}">{{each}} {{currentpricelist[each]}}</option>
                {% endfor %}
            </select>
            <label for="qtyinput">QTY</label>
            <input input type="float" min="0" id="qtyinput" name="qty">
            <div></div>
            <div></div>
            <div></div>
            <button type="button" id="maxBuyBut" onclick="maxbuy()">max</button>
            <div></div>
            <div></div>
            <label for="qtyinput">Amount</label>
            <div>
                <p id="calculatedAmount">the amount</p>
            </div>
            <input id="buybut" class="buybutDisabled" type="submit" value="BUY" disabled>
        </form>
    </div>
    <div class="mainbody" style="grid-column-start: 2;">
        <h2>Welcome <span class="username">{{session['nick_name']}}</span></h2>

        {% if session['portfolios'] %}
        <div id="Portfolio_Menu">
        </div>
        <!-- TODO -->
        <!-- Display the first portfolio: Demonstration purposes  -->
        {% if session['showportfolio'] > 0 %}
        <a id="portfolioTextHeading">Remaining Balance</a>
        <div id="displayBalanceDiv">
            <p id="currentBalancesymbol">$</p>
            <p id="currentBalance">{{"%.2f"|format(session['portfolios'][session['showportfolio']-1][4])}}</p>
        </div>
        <h1> Your Portfolio </h1>
        <div class="portfolioDisplayBody">
            {% if portfoliodetail %}
            <div class="portfolioDisplayWrapper">
                <div id="tableHeading">
                    <a>Coin</a><a>Price</a><a>Quantity</a><a>Total Cost</a><a>Holdings value</a>
                </div>
                {% for each in portfoliodetail %}
                <div id="eachRowInPortfolio" href="#">
                    <a>{{each[2]}}</a><a>${{each[3]}}</a><a>{{"%.2f"|format(each[4])}}</a><a>${{"%.2f"|format(totalcosts[loop.index-1])}}</a>
                    {% if response[loop.index-1] > totalcosts[loop.index-1] %}
                    <a class="green">
                        {% elif response[loop.index-1] < totalcosts[loop.index-1]%} <a class="red">
                            {% else %}
                            <a class="black">
                                {% endif %}
                                {{"$%.2f"|format(response[loop.index-1])}}</a>
                </div>
                {% endfor %}
                <div id="eachRowInPortfolio2">
                    <a></a><a></a><a></a><a class="portfoliosubs">${{"%.2f"|format(totalcosts[totalcosts|length -
                        1])}}</a><a class="portfoliosubs">{{"$%.2f"|format(response[response|length - 1])}}</a>
                </div>
            </div>
            <div class="right-side-portfolio-panel">
                <br>
                <br>

                {% for each in portfoliodetail %}
                <button class="right-side-portfolio-panel button" id="{{each[0]}}" name="{{response[loop.index-1]}}"
                    onclick="sell(this.id,this.name)">sell</button><br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <h1> TRANSACTION HISTORY </h1>
        <div class="portfolioDisplayBody">
            {% if transactionHistory %}
            <div class="portfolioDisplayWrapper">
                <div id="tableHeading">
                    <a>tranid</a><a>Date</a><a>Coin</a><a>Type</a><a>Qty</a>
                </div>
                {% for each in transactionHistory %}
                <div id="eachRowInPortfolio" href="#">
                    <a>{{each[0]}}</a><a>{{each[1]}}</a><a>{{each[2]}}</a><a>{{each[3]}}</a><a>{{each[5]}}</a>
                </div>
                {% endfor %}

            </div>
            <div class="right-side-portfolio-panel">
                <br>
                <br>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <script type="text/javascript" src="static/homescript.js"></script>
        {% endif %}
        {% endif %}
    </div>

    <br>
        <section id="homeAboutTextWrapper">
            <div id="aboutbox">
            <br>
            <h1>Create your own online crypto currency portfolio </h1><br>
            <h1>$50,000 fake money enables you to buy crypto currency at current live prices </h1>
            </div>
        </section>

</content>
{% endif %}
{% endblock %}