{% extends 'base.html' %}
<title>{% block title %} Register {% endblock %}</title>
{% block content %}
<link rel="stylesheet" href="static/form.css">
<content class="pagedesign">
  <nav class="formwrapper">
    <form class="form-block" name="register_form" action="/" method="POST" style="text-align: left;">
      <label class="formlabel" for="fname">Nick name:</label><br>
      <input type="text" id="fname" name="nick_name"><br>
      <label class="formlabel"  for="email">email</label><br>
      <input type="email" id="email" name="fname"><br>

      <label class="formlabel"  for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname"><br>

      <label class="formlabel"  for="pass">Password</label><br>
      <input type="password" id="pass" name="pword" required minlength="8" value=""><br>

      <input class="formBut" type="submit" value="Register">
    </form>
  </nav>
</content>
{% endblock %}